# Ignore OS and editor files
.DS_Store
Thumbs.db
desktop.ini

# Backups and archives
backups/
*.zip

# Corrupt / temporary files
*.corrupt-*

# Node / env
node_modules/
npm-debug.log

# VSCode
.vscode/
